body

{
    margin: 1% auto;
    margin:auto auto;
    text-align: center;
    background-color: black;
    /*
    background-image: url(images/peoplerob.jpg);*/
    background-position: center;
    background-repeat:  repeat;
    background-attachment: scroll;
    background-size: contain;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    z-index: 2;

}


#videobg
{
    position: absolute;
    width: 80%;
    height: 80%;
    border: 10px 10px;
    right: 0;
    bottom: 0;
    
    margin: auto auto;
    opacity: 0.1;
    z-index: 0;
}


#ezines
{
    background-color: rgba(0, 0, 0, 0.927);
    padding: 10px 150px;
    height: 80%;
    width: 80%;
    display: table;
    border-width: 10px;
    border-style: groove;
    border-color: blueviolet;
    padding: 50px 50px;
    position: static;
    z-index: 2;
    margin-top: 4%;
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
}

#gallery2017
{
    width: 80%;
    height: auto;
    display: table;
    padding: 10px 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 9%;
    margin-right: 3%;
   
    z-index: 2;
    /*
    border-style: dotted;*/
}

footer
{
margin:auto 20%;
}


.footer
{
    text-align: center;
}

.ppap
{text-align: center;
font-size: 14px;
}

.emsg
{
    font-size: 18px;
    clear: left;
    background-color: black;
    padding: 4% 20%;
    text-align: center;
    
}

.col
{
    text-align: center;
    width: 20%;
    height: auto;
    float: left;
    padding: 1%;
    border-style: solid;
    margin: 4% 4%;
    position: relative;
    
}

.col10com

{
    text-align: center;
    width: 20%;
    height: 380px;
    float: right;
    position: static;
    padding: 1%;
    border-style: solid;
    margin: -4% 2%;
    background-color: rgb(0, 0, 0);
    
}

.Biglet 
{font-size: 54px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;}

.col::after

{
    clear: both;
}

.colg
{
    text-align: center;
    width: 30.2%;
    height: auto;
    float: left;
    padding: 1%;
    
    
}

.colg img
{

    margin: 10px auto;
    padding: 2px 2px;
    border-style: solid;
    width: 50%;
   
}


.colg img:hover
{

opacity: 0.95;
transition:1s;
width: 100%;
   
}

a:hover
{opacity: 0.4;}


h1
{font-size: 44px;
text-shadow: 2px 2px 2px rgb(221, 7, 211);
margin-top: 100px;
font-family: cursive;}


@media only screen and (max-width: 1000px)

{
    body 
    {margin: 20px 20px;
        float: none;}

    .col
    {width: 90%;
    float: none;
    padding: 1% 1%;}

    .colg
    {width: 100%;
    float: none;
    padding: 1% 1%;}

    .col10com
    {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 100px;
        border-style: none;
        margin-left: 100px;
        margin-right: 25px;
    }

    #ezines
    {
        float: none;
        margin: auto auto;
    }


    #gallery2017
    {
        float: none;
        float: none;
        margin: auto auto;
    }

    .footer
    {
        clear: both;
        width: 100%;
        margin: 4% 4%;
        font-size: 44px;
        position: inherit;
        float: none;
        text-align: center;
    }

    footer 
    {
        text-align: center;
        margin: 4% 4%;
        float: clear;
    }
    .ppap
    {
        font-size: 24px;
        padding:4% 4%;
        text-align: center;
    }
}